@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* colores personalizados */
.p-bg-dark {
  background: #16181c;
}
.p-bg-gray {
  background: #26292f;
}
.text-p-gray {
  color: #9fabb7;
}
.text-p-green {
  color: #1dd1a1;
}
.shadow-p-dark {
  box-shadow: 0px 0 10px #0e0d0d;
}
.hover\:text-p-green:hover {
  color: #60d9b9;
}